/* Write some CSS below */

body {
	font-family : Roboto;
	color : #404042
	font-size : 18px;
	text-align: center;
	background : #EDEDED;

    }  

h1 	{
	font-size: 40px;
	color: #64A6BD;

	}

h2 {
	color: #000000;
	font-family: Roboto;
	font-size: 20px;

	}

h3 {
	color: #64A6BD;
	font-family: Roboto;
	font-weight: bold;
	font-size: 30px;

	}

h4 {
	color: #FD6C9E;
	font-family: Roboto;
	font-weight: bold;
	font-size: 19px;

	}


a {
	color: #304CAF ; 
	font-weight: bold;
	text-decoration: none;
	transition: .3s;
	font-size: 30px;
	font-family: Roboto;

	}
